_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.jekyll-cache

# Office temp files
~*.pptx
~*.docx
~*.xlsx

# NoteTab Lite bak files
*.bak

