---
layout: default
---

{% assign shown_posts = 10 %}

<div class="posts">
  {% for post in site.posts limit:shown_posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
{% if site.posts.size > shown_posts %}
  <br />
  <div style="font-size: 80%; font-style: italic">
    For older posts, search via the <a href="{{ site.baseurl }}{% link tags.md %}"> Tags page</a>.
  </div>
{% endif %}