{% if site.footerLinks.dribbble %}<a class="footer-link" href="https://dribbble.com/{{ site.footerLinks.dribbble }}">Dribbble</a>{% endif %}
{% if site.footerLinks.email %}<a class="footer-link" href="mailto:{{ site.footerLinks.email }}">Email</a>{% endif %}
{% if site.footerLinks.facebook %}<a class="footer-link" href="https://www.facebook.com/{{ site.footerLinks.facebook }}">Facebook</a>{% endif %}
{% if site.footerLinks.flickr %}<a class="footer-link" href="https://www.flickr.com/{{ site.footerLinks.flickr }}">Flickr</a>{% endif %}
{% if site.footerLinks.github %}<a class="footer-link" href="https://github.com/{{ site.footerLinks.github }}">GitHub</a>{% endif %}
{% if site.footerLinks.instagram %}<a class="footer-link" href="https://instagram.com/{{ site.footerLinks.instagram }}">Instagram</a>{% endif %}
{% if site.footerLinks.linkedin %}<a class="footer-link" href="https://www.linkedin.com/in/{{ site.footerLinks.linkedin }}">LinkedIn</a>{% endif %}
{% if site.footerLinks.pinterest %}<a class="footer-link" href="https://www.pinterest.com/{{ site.footerLinks.pinterest }}">Pinterest</a>{% endif %}
{% if site.footerLinks.rss %}<a class="footer-link" href="{{ site.baseurl }}/feed.xml">RSS</a>{% endif %}
{% if site.footerLinks.twitter %}<a class="footer-link" href="https://www.twitter.com/{{ site.footerLinks.twitter }}">Twitter</a>{% endif %}
{% if site.footerLinks.stackoverflow %}<a class="footer-link" href="https://stackoverflow.com/{{ site.footerLinks.stackoverflow }}">Stack Overflow</a>{% endif %}
{% if site.footerLinks.youtube %}<a class="footer-link" href="https://youtube.com/{{ site.footerLinks.youtube }}">YouTube</a>{% endif %}
{% if site.footerLinks.googleplus %}<a class="footer-link" href="https://plus.google.com/{{ site.footerLinks.googleplus }}">Google+</a>{% endif %}
