---
layout: default
---

<article class="post">
  <h1>{{ title }}</h1>

  {% if tags and tags.size > 0 %}
    {% assign taglist = tags | sort %}
    <span class="taglist">[{% for tag in taglist %} 
      {% if tag != "post" %}
      <a class="tag" href="{{ site.baseurl }}/tags/{{ tag }}/"><span class="tagsingle">{{ tag }}</span></a>
      {% endif %}
      {% endfor %}]
      </span>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ date | date: "%B %e, %Y" }}
  </div>

  {% include "disqus.html" %}
</article>
